<%= form_with(url: "/weather", method: :post) do |form| %>
  <div id='errors'>
  </div>

  <div id='form'>
    <%= form.label :zip, "Zipcode: " %>
    <%= form.text_field :zip %>
  </div>

  <div id='submit'>
    <br/>
    <%= form.submit %>
  </div>
<% end %>
